<%= form_for(part) do |f| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_type %>
    <%= f.text_field :part_type %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :serial_number %>
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    <%= f.label :bike_id %>
    <%= f.number_field :bike_id %>
  </div>

  <div class="field">
    <%= f.label :distance_in_km %>
    <%= f.text_field :distance_in_km %>
  </div>

  <div class="field">
    <%= f.label :lifetime_in_km %>
    <%= f.text_field :lifetime_in_km %>
  </div>

  <div class="field">
    <%= f.label :lifetime_in_days %>
    <%= f.number_field :lifetime_in_days %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
