<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<table>
  <thead>
    <tr>
      <th>Part type</th>
      <th>Description</th>
      <th>Serial number</th>
      <th>Bike</th>
      <th>Distance in km</th>
      <th>Lifetime in km</th>
      <th>Lifetime in days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.part_type %></td>
        <td><%= part.description %></td>
        <td><%= part.serial_number %></td>
        <td><%= part.bike_id %></td>
        <td><%= part.distance_in_km %></td>
        <td><%= part.lifetime_in_km %></td>
        <td><%= part.lifetime_in_days %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
